body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.list {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
}

.card-content {
  flex-grow: 1;
}

.stiky-btn{
  position: sticky;
  top: 15px;
  z-index: 999;
  transition: opacity 0.3s ease-in-out;
  opacity: 0.7;
  width: 75px;
  font-size: 10px;
  letter-spacing: .2px;
}


.stiky-btn:hover {
  opacity: 1;
}

.recipe-image {
  width: 70% !important;
  margin: auto;
}

.ingredient-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ingredient {
  padding: 10px;
  border-bottom: 1px solid #f0f0f0;
}

.ingredients-value {
  padding: 10px;
  border-bottom: 1px solid #f0f0f0;
}

.video {
  position: relative;
  width: 80%;
  height: 0;
  padding-bottom: 56.25%;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
}

.find-form {
  width: 75%;
}

.search-container {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.btn-search {
margin-top: 5%;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.modal h2 {
  margin: 0;
  margin-bottom: 20px;
}

.modal button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background-color: #26a69a;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.modal button:hover {
  background-color: #2fc4b5;
}
